

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, mediumorchid 50%, mediumturquoise 50%);
}

.one {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#d2 {
  color: mediumturquoise;
  font-family: 'Anton', sans-serif;
  font-size: 5vw;
  overflow-y: scroll;
  padding-left: 4vw;
  position: fixed;
  width: 40vw;
  height: 100vh;
}

#d3 {
  color: mediumorchid;
  font-family: 'Anton', sans-serif;
  font-size: 4vw;
  overflow-y: scroll;
  padding-left: 54vw;
  padding-top: 3vh;
  position: fixed;
  width: 42vw;
  height: 100vh;
}
