html {
  height: 100%;
  bottom: 0;
}

body {
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
  padding-bottom: 0.5%;
}
