html {
  height: 100%;
  bottom: 0;
}

body {
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
  overflow: visible;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 5%; */
}

/* Create columns that floats next to each other */
.column {
    /* float: left; */
    width: 100%;
    /* padding: 3%; */
}

.column img {
    /* margin-top: 25%; */
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column {
        width: 100%;
   }
}
