html {
  width: 100%;
  height: 100%;
  bottom: 0;
  cursor: none;
}

body {
  background-image: url('../assets/me2.png');
  background-size: cover;
  background-position: right bottom;
  user-select: none;
  cursor: none;
}

#mycursor {
  pointer-events: none;
 	width: 200px;
 	height: 200px;
 	background: url('../assets/butterfly.gif') no-repeat left top;
  background-size: contain;
  position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 10000;
  transition: all .2s ease-out;
}

/* footer {
  color: #FF32D7;
  font-family: 'Lobster', cursive;
  font-size: 24vw;
  text-shadow: 5px 5px #FF00CD;
  position: fixed;
  bottom: 0;
  right: 4vw;
} */

.background{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: scroll;
  position: absolute;
}

#linksContainer {
  position: absolute;
  right: 50%;
  bottom: 30%;

}

.links {
  display: flex;
  align-items: right;
  justify-content: right;
  opacity: 0.6;
  position: relative;
  overflow-y: scroll;
}

.links div {
  color: pink;
  font-family: 'lobster', sans-serif;
  font-size: 6vmin;
  display: flex;
  align-items: right;
  justify-content: right;
  width: 100%;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}
